{% extends "front.jinja2" %}

{% block content %}
  <div class="content">
    <!-- Table with current service state -->
    <div class="container-fluid col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <div class="row">
        <table id='table_services' class="table table-bordered w-auto"></table>
      </div>
    </div>
  </div>
{% endblock content %}
